<p id="notice"><%= notice %></p>

<h1><%= @amoeba.name %></h1>

<p>
  <strong>Talent:</strong>
  <%= @talent.name %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @amoeba.generation %>
</p>

<p>
  <strong>Act:</strong>
  <%= link_to @amoeba.act.name, act_path(@amoeba.act) %>
</p>

<p><strong><a href="/amoebas/<%= @amoeba.id %>/split">Split</a></strong></p>

<%= link_to 'Edit', edit_amoeba_path(@amoeba) %> |
<%=link_to "Delete",amoeba_path(@amoeba), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?"%> | 
<%= link_to 'Back', amoebas_path %>
