<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @act.name %>
</p>

<p>
  <b>Performance Date:</b>
  <%= @act.performance_date %>
</p>

<p>
  <b>Act:</b>
  <%= link_to @amoeba.act.name, amoeba_act_path %>
</p>


<%= link_to 'Edit', edit_employer_path(@amoeba) %> |
<%= link_to 'Back', employers_path %>
